.divider {
  width: 2px;
  height: 100%;
  background: linear-gradient(150.03deg, #8c52ff 0%, #9e59f1 25.69%, #b06fe0 38.62%, #c786c9 52.71%, #e2a4ae 64.99%, #ff914d 75.59%);
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 56px !important;
  font-weight: bolder;
  color: #030712 !important;
}
@media (min-width: 768px) {
  h1 {
    margin-top: 9rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 50px !important;
    margin-top: 30px;
  }
}

h2, .new-h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 40px !important;
  font-weight: bolder;
  color: #212529 !important;
}

.card-title,
.first-paragraph-start,
.second-paragraph-start,
.paragraph-project,
.p-footer,
.paragraph-about,
.text-on-btn {
  font-family: "Poppins", sans-serif;
}

.first-paragraph-start, .second-paragraph-start {
  font-size: 32px !important;
  color: #212529 !important;
  margin-bottom: 20px;
}

.card-title {
  font-size: 32px !important;
  font-weight: 500;
  line-height: 1.2;
  color: #212529 !important;
}

.paragraph-project,
.paragraph-about {
  font-size: 16px !important;
  color: #212529 !important;
  margin-bottom: 20px;
}

.p-presentation {
  font-size: 24px !important;
  color: rgba(33, 37, 41, 0.7490196078) !important;
}

.p-footer {
  font-size: 16px;
  margin-top: 20px;
}

.a-btn-1,
.a-btn-2 {
  text-decoration: none;
}
.a-btn-1.a-btn-1,
.a-btn-2.a-btn-1 {
  color: #ffffff;
}
.a-btn-1.a-btn-1:hover,
.a-btn-2.a-btn-1:hover {
  color: #000000;
}
.a-btn-1.a-btn-2,
.a-btn-2.a-btn-2 {
  color: #000000;
}
.a-btn-1.a-btn-2:hover,
.a-btn-2.a-btn-2:hover {
  color: #ffffff;
}

.btn-contact,
.cta-card,
.cta-button-gradient {
  background: linear-gradient(150.03deg, #8c52ff 0%, #9e59f1 25.69%, #b06fe0 38.62%, #c786c9 52.71%, #e2a4ae 64.99%, #ff914d 75.59%);
  display: inline-block;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 28px;
  transition: all 0.5s ease-in-out;
}
.btn-contact.btn-contact, .btn-contact.cta-button-gradient,
.cta-card.btn-contact,
.cta-card.cta-button-gradient,
.cta-button-gradient.btn-contact,
.cta-button-gradient.cta-button-gradient {
  color: #ffffff;
}
.btn-contact.btn-contact:hover, .btn-contact.cta-button-gradient:hover,
.cta-card.btn-contact:hover,
.cta-card.cta-button-gradient:hover,
.cta-button-gradient.btn-contact:hover,
.cta-button-gradient.cta-button-gradient:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.btn-contact.cta-card,
.cta-card.cta-card,
.cta-button-gradient.cta-card {
  padding: 13px 20px;
  font-size: 18px;
}
.btn-contact.cta-card:hover,
.cta-card.cta-card:hover,
.cta-button-gradient.cta-card:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.button-progetti {
  display: inline-block;
  padding: 15px 30px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  border-radius: 28px;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}
.button-progetti:hover {
  transform: scale(1.05);
  background-color: #000000;
  transition: all 0.5s ease-in-out;
}

.text-on-btn {
  font-size: 24px !important;
  color: #fcfcfc !important;
}
.text-on-btn:hover {
  color: #000000 !important;
  transition: all;
}

.my-nav {
  border-bottom: solid rgb(204, 204, 204);
}

.navbar-nav .nav-item .active {
  background: linear-gradient(150.03deg, #8c52ff 0%, #9e59f1 25.69%, #b06fe0 38.62%, #c786c9 52.71%, #e2a4ae 64.99%, #ff914d 75.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.bg-custom-section,
.about-me-section,
.yellow-bg-my {
  background: linear-gradient(180deg, #F8FFC9 0%, #FBFFDD 68.4%, #FFFFFF 100%);
  padding: 50px 0;
}

.bg-custom-section {
  margin-top: 10rem;
}
@media (min-width: 768px) {
  .bg-custom-section {
    margin-top: 18rem;
  }
}

.about-me-section {
  margin-top: 12rem;
  margin-bottom: 13rem;
  color: #212529;
}

.move-section {
  margin-top: 8rem;
}

.section-margin {
  margin-top: 11rem;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  filter: contrast(110%) brightness(105%) saturate(110%);
}

.cv-img {
  width: 280px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  background: linear-gradient(150.03deg, #8c52ff 0%, #9e59f1 25.69%, #b06fe0 38.62%, #c786c9 52.71%, #e2a4ae 64.99%, #ff914d 75.59%);
}

.bg-gradient-primary-to-secondary {
  position: relative;
  width: 620px;
  height: 620px;
  border-radius: 5vh;
  background: linear-gradient(150.03deg, #8c52ff 0%, #9e59f1 25.69%, #b06fe0 38.62%, #c786c9 52.71%, #e2a4ae 64.99%, #ff914d 75.59%);
}
@media (min-width: 768px) {
  .bg-gradient-primary-to-secondary {
    margin-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .bg-gradient-primary-to-secondary {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
}

.icons-hover {
  color: #ffffff;
  padding: 2px;
}
.icons-hover:hover {
  color: #000000;
}

.img-my,
.img-modify-section-2 {
  position: relative;
}

@media (max-width: 767px) {
  .img-my {
    width: 400px;
    height: 400px;
    bottom: 0px;
    left: -1rem;
  }
}

@media (max-width: 767px) {
  .img-modify-section-2 {
    left: 12%;
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .margin-query {
    margin-top: 15rem;
  }
}

.my-dots-svg path {
  fill: #fcfcfc;
}

.dots-svg-bg {
  enable-background: new 0 0 191.6 1215.4;
}

.dots-1,
.dots-2,
.dots-3,
.dots-4 {
  position: absolute;
  width: 2vw;
}
@media (max-width: 767px) {
  .dots-1,
  .dots-2,
  .dots-3,
  .dots-4 {
    display: none;
  }
}

.dots-1 {
  right: 1.5vw;
  top: 4vw;
}
@media (min-width: 768px) {
  .dots-1 {
    width: 3vw;
  }
}
@media (min-width: 992px) {
  .dots-1 {
    width: 1.5vw;
    right: 0.75vw;
  }
}

.dots-2 {
  right: -4vw;
  top: 6.05vw;
}
@media (min-width: 768px) {
  .dots-2 {
    width: 3vw;
  }
}
@media (min-width: 992px) {
  .dots-2 {
    width: 1.5vw;
    right: -2vw;
  }
}

.dots-3 {
  left: 1.5vw;
  bottom: 6.05vw;
}
@media (min-width: 768px) {
  .dots-3 {
    width: 3vw;
  }
}
@media (min-width: 992px) {
  .dots-3 {
    width: 1.5vw;
    left: 0.75vw;
  }
}

.dots-4 {
  left: -4vw;
  bottom: 4vw;
}
@media (min-width: 768px) {
  .dots-4 {
    width: 3vw;
  }
}
@media (min-width: 992px) {
  .dots-4 {
    width: 1.5vw;
    left: -2vw;
  }
}

/*# sourceMappingURL=style.css.map */
